$badge: #fff;
$btn-primary-color: #fff;
$container-secondary: #EDEDDF;
$dialog-dark: #eee;
$dialog-inverted: #eee;
$dialog-light: #fff;
$h1: #ADAE97;
$header-text: #D44826;
$paragraph: #353526;
$primary: #D54927;
$primary-light: #DF765C;
$secondary: #F0911F;
$special: #7CC3C2;

$light-gray-bg: #fbfbfb;