html, body, #layout{
  height: 100%;
}

footer {
  position: absolute;
  bottom: 0;

  ul {
    padding-left: 0;

    li {
      display: inline-block;
      margin-right: 5px;

      &.info {
        bottom: 4px;
        position: relative;
      }
    }
  }

  &.left {
    @include set-left;
    position: relative;
    width: 335px;
  }

  &.mobile {
    @include set-left;
    position: absolute;
    width: 400px;
    bottom: 5%;
  }
}

.box-sizing {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
}

.set-left {
  display: block;
  float: right;
  clear: both;
}
