@import '../base/colors';

.badge, .badge-inverted{
  border: 4px solid $badge;
  border-radius: 40px;
  float: left;
  height: 75px;
  overflow: hidden;
  width: 75px;
}

.badge-inverted{
  background: $dialog-inverted;
}

.list-wrapper .badge {
  height: 60px;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 10px;
  width: 60px;
}

#logo{
  background-image: image-url("kiitos/SVG/logo.svg");
  height: 48px;
  margin: 0 auto 45px;
  text-indent: -99999px;
  width: 111px;
}
