.btn{
  background: #D54927;
  border: none;
  color: #fff;
  text-transform: uppercase;
  -moz-box-shadow: -9px 11px 3px 1px rgba(224, 224, 211, .7);
  -webkit-box-shadow: -9px 11px 3px 1px rgba(224, 224, 211, .7);
  box-shadow: -9px 11px 3px 1px rgba(224, 224, 211, .7);
}
