.btn {
  background: $primary;
  border: none;
  color: $btn-primary-color;
  font-size: 22px;
  padding: 5px 50px;
  text-transform: uppercase;
  -moz-box-shadow: -9px 11px 3px 1px rgba(224, 224, 211, .7);
  -webkit-box-shadow: -9px 11px 3px 1px rgba(224, 224, 211, .7);
  box-shadow: -9px 11px 3px 1px rgba(224, 224, 211, .7);
}

.btn-blue, .btn-promote, .btn-orange {
  background: $special;
  border: none;
  color: $btn-primary-color;
  font-size: .90em;
  padding: 8px 30px;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
}

.btn-promote, .btn-kiito {
  padding: 8px 24px;
  font-size: 1.6em;
  text-transform: uppercase;
  font-family: 'oswald';
  -moz-box-shadow: -9px 11px 3px 1px rgba(224, 224, 211, .7);
  -webkit-box-shadow: -9px 11px 3px 1px rgba(224, 224, 211, .7);
  box-shadow: -9px 11px 3px 1px rgba(224, 224, 211, .7);
}

.btn-kiito, .btn-orange {
  @extend .btn-blue;

  background: $secondary
}

.cancel-promote, .cancel-kiito {
  font-size: 1.6em;
  text-transform: uppercase;
  color: #1d1d1d;
  margin-right: 28px;
}

.choose, .choose-secondary{
  background: $secondary;
  border: 2px solid #fff;
  border-radius: 40px;
  color: #fff;
  float: left;
  font: 300 2em 'Roboto';
  height: 60px;
  line-height: 60px;
  cursor: pointer;
  text-align: center;
  width: 60px;
}

.choose-secondary{
  background: $special;
}

.btn-active {
  background: #eee;
}
