%footer{ class: "#{type}" }
  %ul
    %li
      = link_to image_tag('kiitos/SVG/logo-crowd.svg', alt: 'Crowd Interactive'), 'http://crowdint.com', target:'_blank'
    %li
      = link_to image_tag('kiitos/SVG/culture-sites.svg', alt: 'Magma Conf'), 'http://magmaconf.com', target:'_blank'
    %li.info
      = link_to image_tag('kiitos/SVG/info.svg', alt: 'Kiitos Info'), '#'
