%ul#scene
  %li{ class: 'layer', 'data-depth' => '-2.30' }
    = image_tag 'kiitos/SVG/orange.svg'
  %li{ class: 'layer', 'data-depth' => '-5.60' }
    = image_tag 'kiitos/SVG/blue.svg'
  %li{ class: 'layer', 'data-depth' => '1.50' }
    = image_tag 'kiitos/SVG/green.svg'
  %li{ class: 'user-pic' }
    = avatar