.manage-users
  .title
    %p
      = t('.manage-users')
    .add-user
      %span.image-icon
    %span.arrow-right
.manage-kiitos
  .title
    %span.add-kiito
      +
    %span.arrow-left
    %p
      = t('.manage-kiitos')
