#admin-menu {
  text-align: center;
  padding-left: 25px;
  ul {
    padding-left: 0;
    li {
      width: 57px;
      cursor: pointer;
      display: inline-block;
      padding: 0 20px;
      text-transform: uppercase;
      &:first-child{
        border-right: 1px solid #9d9d9d;
        line-height: 14px;
      }
      &:last-child{
        padding-left: 14px;
      }
      &.active {
        color: #d13f1a;
        font-weight: 600;
      }
    }
  }
}

#admin-options {
  display: none;
  background: $dialog-dark;
  height: 83px;
  margin-bottom: 20px;
  padding: 21px 45px 0;


  .admins-menu {
    float: left;
    width: 50%;

    .active {
      background: #7cc3c2;
      cursor: pointer;
    }

    .add-user {
      margin-right: 30px;
      border: 2px solid #fff;
      border-radius: 40px;
      color: #fff;
      float: right;
      font: 300 2em 'Roboto';
      height: 60px;
      line-height: 60px;
      text-align: center;
      width: 60px;
      .image-icon {
        position: relative;
        bottom: 4px;
        display: inline-block;
        width: 29px;
        height: 29px;
        background: image-url('kiitos/SVG/manage-users.svg');
      }
    }

    .title {
      text-transform: uppercase;
      font-size: 1.5em;
      font-weight: bold;
      p {
        float: left;
        font-family: 'Oswald';
        margin: 0;
        padding: 15px 0 0;
      }
      .arrow-right{
        float: right;
        margin: 24px 43px 0px 0px;
      }
    }
  }

  .kiitos-menu {
    float: right;
    width: 50%;

    .active {
      background: $secondary;
      cursor: pointer;
    }

    .add-kiito{
      border: 2px solid #fff;
      border-radius: 40px;
      color: #fff;
      float: left;
      font: 300 1.875em 'Roboto';
      height: 60px;
      line-height: 60px;
      margin-left: 30px;
      text-align: center;
      width: 60px;
    }

    .title {
      text-transform: uppercase;
      font-size: 1.5em;
      font-weight: bold;
      p {
        float: right;
        font-family: 'Oswald';
        margin: 0;
        padding: 15px 0 0;
      }
      .arrow-left{
        float: left;
        margin: 25px 0px 0 40px;
      }
    }
  }

}
#admin-manage-area {
  display: none;

  ul {
    list-style: none;
    margin-bottom: 15px;
    padding-left: 0;
  }

  li {
    background: $dialog-dark;
    color: #737372;
    font-weight: 500;
    margin: 5px 30px 5px 0;
    padding: 7px;
    a {
      text-indent: -9999px;
      float: right;
      font-weight: bold;
      font-size: 1em;
      height: 18px;
      width: 18px;
      background-image: image-url("kiitos/SVG/delete.svg");
      background-repeat: no-repeat;
      margin-top: 5px;
      margin-right: 5px;
    }
  }

  .title{
    margin: 0px;
    color: #737372;
    padding-left: 5px;
  }
  .manage-admins {
    display: none;
    margin-top: 20px;
    width: 100%;

    .add-new-administrator {
      display: none;
      margin-bottom: 20px;
      height: 202px;

      h1:before {
        display: block;
        position: relative;
        content: '';
        height: 10px;
        width: 95.7%;
        background: $light-green-border;
        top: -13px;
      }

      h1 {
        text-align: center;
        font-size: 1.25em;
        text-transform: uppercase;
        border-bottom: 1px solid #eeeeee;
        color: #1d1d1d;
        letter-spacing: 0px;
        font-family: 'Oswald';
        font-weight: bold;
      }

      .users-tag {
        font-size: 1em;
        float: left;
        width: 80%;
        height: 23px
      }

      .state-tag {
        font-size: 1em;
        float: right;
        width: 20%;
        height: 23px
      }

      .select-user {
        clear: both;
        margin: 20px 0;
        width: 93%;
        background: $dialog-dark;
        padding: 10px;

        #search_user {
          border: none;
          background: $dialog-dark;
          width: 300px;

          &:focus { outline: none; }
        }

        .tt-dropdown-menu {
          background: $light-gray-bg;
          width: 300px;
          margin-top: 10px;
        }

        .tt-suggestion {
          &.tt-is-under-cursor {
            background: $special;
            color: white;
          }
          p {
            margin: 10px 0;
            line-height: 25px;
          }
        }
      }
      .buttons {
        width: 43%;
        float: right;
      }
    }
  }
  .manage-kiitos {
    display: none;
    margin-top: 20px;
    width: 100%;
  }
}
