@import '../base/colors';

#new-kiito {
  .receiver-pic {
    float: left;
  }
  .message-info{
    display: inline-block;
  }
}

#received-kiitos{
  background: $container-secondary;
  padding: 60px;
  position: relative;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
  .badge{
    margin-right: 15px;
  }
  h1 {
    color: $h1;
    font-size: 30px;
    margin: 0;
  }
  &:after {
    background: #ededdf;
    border-radius: 35px;
    content: '';
    display: inline-block;
    height: 70px;
    left: -35px;
    position: absolute;
    top: 75px;
    width: 70px;
  }
  .message-info {
    display: inline-block;
    p {
      margin: 0 0 10px 0;
      &.title {
        color: $secondary;
        font-size: 20px;
      }
      &.sender {
        font-size: 12px;
      }
    }
  }
}

#scene {
  text-align: center;
}

#user-dashboard{
  padding-top: 60px;
  .wrapper{
    float: right;
    max-width: 560px;
  }
}

#header-text {
  color: $header-text;
  text-align: center;
  h4 {
    color: $primary-light;
    font-size: 14px;
    margin: 0;
  }
  h2 {
    font-size: 32px;
    margin: 0;
  }
}

#user-widget {
  min-height: 250px;
  .user-pic{
    display: block;
    position: absolute;
    right: 33%;
    text-align: center;
    top: 0;
    width: 190px;
    &:after {
      content: image-url('kiitos/PNG/shadow.png');
      position: absolute;
      right: 0;
      top: 0;
    }
    img{
      border-radius: 95px;
      position: absolute;
      right: 0;
      top: 0;
      width: 190px;
      z-index: 1;
    }
  }
}
