#admin-options
  = render 'kiitos/user_dashboard/admin/options_menu', administrators: @administrators

#admin-manage-area
  = render 'kiitos/user_dashboard/admin/manage_admins'
  = render 'kiitos/user_dashboard/admin/manage_kiitos'
