.admins-menu
  .title
    %p
      = t('.manage-users')
    .add-user.active
      %span.image-icon
    %span.arrow-right
.kiitos-menu
  .title
    %span.add-kiito.active
      +
    %span.arrow-left
    %p
      = t('.manage-kiitos')
