%ul
  - users.each do |u|
    %li
      = u.email
      - if is_admin? u
        = button_to t('.demote'), admin_administrator_path(id: u.id), method: :delete
      - else
        = button_to t('.promote'), admin_administrators_path(id: u.id), method: :post
