<ul>
<% users.each do |u| %>
  <li>
    <%= u.email %>
    <% if is_admin?(u) %>
      <%= link_to 'Demote from Admin', admin_administrator_path(id: u.id), method: :delete %>
    <% else %>
      <%= link_to 'Promote to Admin', admin_administrators_path(user_id: u.id), method: :post %>
    <% end %>
  </li>
<% end %>
</ul>
